/* 公共样式 */
.left1{
	font-size:14px;
	font-weight:bold;
	background:url(../images/home/opened.gif) no-repeat center;
	margin-left:4px;
	padding:5px 10px;
	}
.left2 a{
	font-size:14px;
	line-height:25px;
	margin-left:25px;
	}
.left3{
	background:url(../images/home/opened.gif) no-repeat center;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	margin-left:4px;
	}
.left4{
	font-size:14px;
	font-weight:bold;
	background-color:#F2F8F8;
	padding:5px 0px;
	margin:5px 0px;
	text-indent:8px;
	}
.left5{
	margin-left:5px;
	}
.left6 a{
	font-size:14px;
	line-height:30px;
	margin:5px 5px;
	padding:3px;
	border-top:1px dashed #D7D7D7;
	background:url(../images/rank_bg.gif) no-repeat left;
	}
.left0{
	border:1px solid #D7D7D7;
	}
.right1{
	width:777px;  
	margin-left:10px;
	border:1px solid #D7D7D7;
	
}
.right2{
	font-size:14px;
	margin:0px 20px;
	}
.right3{
	border-bottom:2px solid #D33A6D;
	margin:10px 30px;
	}
.right4 a{
	font-size:14px;
	line-height:30px;
	margin-right:50px;
	margin-left:5px;
	}
.right4 li{
		width:25%;}
.modify1{
	width:550px;
    }
.right5{
	font-size:14px;
	margin-top:8px;
    font-weight:bold;
	}
.right6{
	background:url(../images/more.gif) no-repeat right;
	background-position:685px 5px;
	border-bottom:1px dashed #D7D7D7;
	margin-left:85px;
	margin-right:30px;
	}
.right7 a{
	font-size:14px;
	}
.right7{
	margin:12px 85px;
	}
.right8{
	font-size:14px;
	margin:10px;
	margin-right:0px;
	margin-bottom:5px;
	border-bottom:2px solid #D33A6D;}
.right9{
	padding:5px 20px;
	background:url(../images/tab_pink.gif);
	margin-right:5px;
	}
.right10{
	padding:5px 20px;
	padding-right:10px;
	background:url(../images/tab_gray.gif) no-repeat;
	margin-right:5px;
	}
.right11{
	padding:5px 20px;
	background:url(../images/tab_gray.gif);
	margin-right:5px;
	}
.right12{
	padding:5px 20px;
	background:url(../images/tab_gray.gif);
	margin-right:5px;
	}
.right13{
	border:1px solid #D7D7D7;
	padding:2.5px;
	margin-left:10px;
	background:#EFF4F3;
	}
.right14{
	width:50px;
	margin:0px 10px;}
.right15{
	width:50px;
	margin:0px 10px;
	}
.right16{
	float:right;
	background:url(../images/home/btn_bg.gif);
	}
.right17{
	margin-left:40px;
	margin-top:20px;
	}
.right18{
	font-size:12px;
    padding:2.5px;
	}
.right19{
	margin-bottom:10px;
	}
.modify2{
	width:740px;
	}
.modify2 li{
	width:25%;

	}
.right20 a{
	font-size:14px;
	}
.right20 li{
	padding:5px 11px;
	}
.right21{
	margin:0px 10px;
	border-top:1px solid #D7D7D7;
	padding:10px 0px;
	}
.right22{
	background:url(../images/cart-page.png) no-repeat center;
	}
.right25{
	background:url(../images/home/btn_bg.gif) no-repeat right;
	}
	
.right24{
	background:url(../images/home/page_next.gif) no-repeat center;
	}
